* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
}

.header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#logo-odonto {
    max-height: 64px;
}

.botoes-direta {
    display: flex;
}

.img-direita {
    max-width: 70px;
    padding: 12px 16px;
}

.img-direita:hover {
    transform: scale(1.30);
    transition: 0.3s ease-out;
}

#logo-odonto:hover {
    transform: scale(1.30);
    transition: 0.3s ease-out;
}

.header-botoes {
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: #681212;
    padding: 12px 17px;
}

.header-botoes a:hover {
    background-color: #929292;
    border-radius: 12px;
    padding: 8px;
    transition: all 0.6s;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

#pesquisa {
    width: 500px;
    border: none;
    background-color: #c2bfbf;
    height: 25px;
}

.img {
    width: 30px;
}

.pesquisar {
    background-color: #c2bfbf;
    border-radius: 42px;
}

form {
    display: flex;
    align-items: center;
    padding: 12px 16px;
}

span {
    background-color: #fff;
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 500px;
}

span:hover {
    background-color: #681212;
    cursor: pointer;
    transition: 0.3s;
}