* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
}

.header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#logo-odonto {
    max-height: 64px;
}

.botoes-direta {
    display: flex;
}

.img-direita {
    max-width: 60px;
    padding: 12px 16px;
}

.header-botoes {
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: #681212;
    padding: 12px 17px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

#pesquisa {
    width: 700px;
    flex-wrap: ;
}