* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-cima ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 12px;
}

form input {
    all: unset;
    width: 500px;
    border-right: 1px solid grey;
}

.header-baixo-bg {
    background-color: rgb(104, 18, 18);
}

.header-baixo-conteudo {
    display: flex;
    align-items: center;
}

.text-categorias {
    color: #fff;
}

.design-barras-categorias {
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 10px 14px;
    transition: 0.3s ease;
}

.design-barras-categorias:hover {
    cursor: pointer;
    transform: scale(1.20);
}

.barras-brancas {
    display: inline-block;
    max-width: 50px;
    padding: 4px;
    margin: 5px;
    background-color: #fff;
}